# 01. Python Basic 01

<p style="text-align: right;">
blackdew7@gmail.com<br>
</p>

### 파이썬 실습시간 그 첫번째!
전체 교육 과정에서 파이썬을 사용합니다. 

#### 실습목표
1. 데이터 타입을 알고 있다. - 숫자, 문자, boolean
2. 제어문을 사용할 수 있고, 제어문이 사용된 소스코드를 이해할 수 있다. 
3. 리스트(List)를 이해하고, 리스트가 사용된 소스코드를 이해할 수 있다. 리스트를 사용할 수 있다.
5. 함수(Function)가 무엇인지 알고, 함수가 사용된 소스코드를 이해할 수 있다. 간단한 함수를 작성할 수 있다.

## Jupyter Notebook 단축키
* Cell 실행: Control + Enter
* Cell 실행 + 다음셀 이동: Shift + Enter
* Code Completion: Tab
* Tooltip 보기: Shift + Tab
* 셀 생성 & 삭제: A (셀을 선택된 셀 위에 생성), B (셀을 선택된 셀 아래에 생성), D (선택된 셀을 삭제)
* 줄 번호 보기: L
* Command Palette 보기: Shift + Control/Command + P
* 단축키 모음 보기: H

# 01 파이썬 기초 문법

1. hello python
2. 변수
3. Type & Operator - Number
4. Type & Operator - String
5. Container - List
6. Slicing

## 1. Hello Python + 도움말

* 주의 
 - 2.0 버전에서는 '()' 괄호가 없는 형태로 print문을 처리할 수 있었습니다. 
 - 3.0 버전에서 python 코드를 들고와서 돌렸는데 에러가 날 때에는 print 처리가 어떻게 되어있는지 확인해 봐야해요.

In [6]:
# hello, python
print("Hello, Python!!")

Hello, Python!!

In [7]:
# 도움말
# help/? 이용

help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [8]:
print("메뉴")
print("진주물냉면 8,500원\n진주비빔냉면 8,000원\n남해멸치쌈밥 10,000원")

메뉴
진주물냉면 8,500원
진주비빔냉면 8,000원
남해멸치쌈밥 10,000원

## 2. 변수

- 대소문자 구분함.
- 알파벳 + 숫자 및 언더바, 한글도 가능
- 변수 이름으로 변수에 담긴 값을 소환
- 다중 할당

In [1]:
# 변수 할당

메뉴1_이름 = '진주물냉면'
메뉴1_가격 = 8000

메뉴2_이름 = '진주비빔냉면'
메뉴2_가격 = 8500


# 출력

print("메뉴")
print("{0} {1}원\n{2} {3}원\n".format(메뉴1_이름, 메뉴1_가격, 메뉴2_이름, 메뉴2_가격))

print("메뉴")

메뉴
진주물냉면 8000원
진주비빔냉면 8500원

메뉴

## 3. Type & Operator - Number

- number: int, float, complex
- 산술 연산자 
 - +, -, *, /

 - %

 - **

 - //

 - +=, -=, *=, /=

 - 위의 연산자 중 모르는 것을 구글 검색하고 예제를 만들어 보자.

In [6]:
# 주문이 들어왔다. 
# 주문1 - 물냉 2, 비냉 1
# 주문2 - 멸치쌈밥 2 

주문1 = 메뉴1_가격 * 2 + 메뉴2_가격
주문2 = 메뉴3_가격 * 2

# 출력
print("주문")
print(주문1)
print(주문2)

주문
24500
20000

In [12]:
# int
print(type(10))

# float
print(type(10.0))

# complex
print(type(10 + 10j))

<class 'int'>
<class 'float'>
<class 'complex'>

## 4. Type & Operator - String

- string
- print 활용
- string slicing

In [7]:
# 문자열
# 파이썬은 문자열에 대해 상당한 편의성을 지원합니다.

메뉴1_이름 = '진주물냉면'
메뉴1_가격 = 8000

메뉴2_이름 = "진주비빔냉면"
메뉴2_가격 = 8500

메뉴3_이름, 메뉴3_가격 = '남해멸치쌈밥', 10000

In [14]:
# 특수문자 \n 
# 메뉴판을 만들자

메뉴 = "메뉴\n진주물냉면 8,500원\n진주비빔냉면 8,000원\n남해멸치쌈밥 10,000원"
print(메뉴)

# """, ''' multiline 문자열 생성
메뉴 = """메뉴
진주물냉면 8,500원
진주비빔냉면 8,000원
남해멸치쌈밥 10,000원"""
print(메뉴)

메뉴
진주물냉면 8,500원
진주비빔냉면 8,000원
남해멸치쌈밥 10,000원
메뉴
진주물냉면 8,500원
진주비빔냉면 8,000원
남해멸치쌈밥 10,000원

In [9]:
# 문자열에 변수 출력 #02 - format
주문 = "{0} - {1:,}원"

print(주문.format(메뉴1_이름, 메뉴1_가격))
print(주문.format(메뉴2_이름, 메뉴2_가격))

# 문자열에 변수 출력 #03 - %
주문 = "%s - %d원"

print(주문 % (메뉴1_이름, 메뉴1_가격))
print(주문 % (메뉴2_이름, 메뉴2_가격))

진주물냉면 - 8,000원
진주비빔냉면 - 8,500원
진주물냉면 - 8000원
진주비빔냉면 - 8500원

## 5. Container - List

- list 
- add & remove

In [13]:
# 리스트 생성
메뉴1 = ["진주물냉면", 8000]
메뉴2 = ["진주비빔냉면", 8500]
메뉴3 = ["남해멸치쌈밥", 10000]
메뉴4 = ["만두", 5000]

print(type(메뉴1))

<class 'list'>

In [14]:
# 리스트 요소 조회
print(메뉴1[0])
print(메뉴1[1])

진주물냉면
8000

In [15]:
# 2차원 리스트
메뉴목록 = [메뉴1, 메뉴2, 메뉴3 , 메뉴4]
print(메뉴목록)

[['진주물냉면', 8000], ['진주비빔냉면', 8500], ['남해멸치쌈밥', 10000], ['만두', 5000]]

In [16]:
# 2차원 리스트 요소 조회
print(메뉴목록[0], 메뉴목록[1])
print(메뉴목록[0][0], 메뉴목록[0][1])

['진주물냉면', 8000] ['진주비빔냉면', 8500]
진주물냉면 8000

#### list 좀 더 자세히

In [18]:
## 요소 추가하기 

# 주문이 들어왔다. 
# 주문1 - 물냉 2, 비냉 1
# 주문2 - 멸치쌈밥 2 

주문1 = []
주문1.append(메뉴목록[0])
주문1.append(메뉴목록[0])
주문1.append(메뉴목록[1])


주문2 = []
주문2.append(메뉴목록[2])
주문2.append(메뉴목록[2])
print(주문2)


주문2 = []
주문2.append(메뉴목록[2])
주문2.append(메뉴목록[2])
print(주문2)

[['남해멸치쌈밥', 10000], ['남해멸치쌈밥', 10000]]
[['남해멸치쌈밥', 10000], ['남해멸치쌈밥', 10000]]

In [20]:
## 요소 변경하기
## 냉면의 가격을 500원씩 올리기로 했다. 

print(메뉴목록)

메뉴목록[0][1] = 8500
print(메뉴목록)

메뉴2[1] = 9000
print(메뉴목록)

[['진주물냉면', 8000], ['진주비빔냉면', 8500], ['남해멸치쌈밥', 10000], ['만두', 5000]]
[['진주물냉면', 8500], ['진주비빔냉면', 8500], ['남해멸치쌈밥', 10000], ['만두', 5000]]
[['진주물냉면', 8500], ['진주비빔냉면', 9000], ['남해멸치쌈밥', 10000], ['만두', 5000]]

In [21]:
## 리스트 복제

임시 = 메뉴2
print(메뉴2, 임시)
임시[1] = 9500
print(메뉴2, 임시)


메뉴2[1] = 9000
임시 = 메뉴2.copy()
print(메뉴2, 임시)
임시[1] = 9500
print(메뉴2, 임시)

['진주비빔냉면', 9000] ['진주비빔냉면', 9000]
['진주비빔냉면', 9500] ['진주비빔냉면', 9500]
['진주비빔냉면', 9000] ['진주비빔냉면', 9000]
['진주비빔냉면', 9000] ['진주비빔냉면', 9500]

## 6. Slicing
- slicing list
- slicing string

In [22]:
# 리스트 생성

numbers = [95, 65, 90, 80, 85, 90, 92, 88, 84, 75, 85, 100]

print('')
print(numbers)
print('---------')

# 리스트의 subset 01
print(numbers[0:3])
print(numbers[3:6])
print(numbers[6:9])
print(numbers[9:12])

# 리스트의 subset 02
print(numbers[:3])

# 리스트의 subset 03
print(numbers[9:])

[95, 65, 90, 80, 85, 90, 92, 88, 84, 75, 85, 100]
---------
[95, 65, 90]
[80, 85, 90]
[92, 88, 84]
[75, 85, 100]
[95, 65, 90]
[75, 85, 100]

In [23]:
# 문자열 생성
python = "hobby project during the week around Christmas as his office was closed"
    
print('')
print(python)
print('---------')

# 문자열 subset 01
print(python[0:5])
print(python[6:13])

# 문자열 subset 02
print(python[:5])

# 문자열 subset 03
print(python[-6:])

hobby project during the week around Christmas as his office was closed
---------
hobby
project
hobby
closed

In [24]:
# split
a = python.split(' ') 
print(a)

['hobby', 'project', 'during', 'the', 'week', 'around', 'Christmas', 'as', 'his', 'office', 'was', 'closed']

### 실습