# 01. Python Basic 01

<p style="text-align: right;">
blackdew7@gmail.com<br>
</p>

### 파이썬 실습시간 그 첫번째!
전체 교육 과정에서 파이썬을 사용합니다. 

#### 실습목표
1. 데이터 타입을 알고 있다. - 숫자, 문자, boolean
2. 제어문을 사용할 수 있고, 제어문이 사용된 소스코드를 이해할 수 있다. 
3. 리스트(List)를 이해하고, 리스트가 사용된 소스코드를 이해할 수 있다. 리스트를 사용할 수 있다.
5. 함수(Function)가 무엇인지 알고, 함수가 사용된 소스코드를 이해할 수 있다. 간단한 함수를 작성할 수 있다.

## Jupyter Notebook 단축키
* Cell 실행: Control + Enter
* Cell 실행 + 다음셀 이동: Shift + Enter
* Code Completion: Tab
* Tooltip 보기: Shift + Tab
* 셀 생성 & 삭제: A (셀을 선택된 셀 위에 생성), B (셀을 선택된 셀 아래에 생성), D (선택된 셀을 삭제)
* 줄 번호 보기: L
* Command Palette 보기: Shift + Control/Command + P
* 단축키 모음 보기: H

# 01 파이썬 기초 문법

1. hello python
2. 변수
3. Type & Operator - Number
4. Type & Operator - String
5. Container - List
6. Slicing

## 1. Hello Python + 도움말

* 주의 
 - 2.0 버전에서는 '()' 괄호가 없는 형태로 print문을 처리할 수 있었습니다. 
 - 3.0 버전에서 python 코드를 들고와서 돌렸는데 에러가 날 때에는 print 처리가 어떻게 되어있는지 확인해 봐야해요.

In [6]:
# hello, python
print("Hello, Python!!")

Hello, Python!!

In [7]:
# 도움말
# help/? 이용

help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [8]:
print("메뉴")
print("진주물냉면 8,500원\n진주비빔냉면 8,000원\n남해멸치쌈밥 10,000원")

메뉴
진주물냉면 8,500원
진주비빔냉면 8,000원
남해멸치쌈밥 10,000원

## 2. 변수

- 대소문자 구분함.
- 알파벳 + 숫자 및 언더바, 한글도 가능
- 변수 이름으로 변수에 담긴 값을 소환
- 다중 할당

In [9]:
# 변수 할당

메뉴1_이름 = '진주물냉면'
메뉴1_가격 = 8000

메뉴2_이름 = '진주비빔냉면'
메뉴2_가격 = 8500


# 출력

print("메뉴")
print("{0} {1}원\n{2} {3}원\n".format(메뉴1_이름, 메뉴1_가격, 메뉴2_이름, 메뉴2_가격))

print("메뉴")
print(f"{메뉴1_이름} {메뉴1_가격}원\n{메뉴2_이름} {메뉴2_가격}원\n")

SyntaxError: invalid syntax (<ipython-input-9-6d753e457cc7>, line 16)

In [10]:
# 다중 할당

메뉴3_이름, 메뉴3_가격 = '남해멸치쌈밥', 10000


# 출력
print("메뉴")
print("{2} {3}원{4} {5}원\n".format(메뉴3_이름, 메뉴3_가격))

print("메뉴")
print(f"{메뉴3_이름} {메뉴3_가격}원")

SyntaxError: invalid syntax (<ipython-input-10-5032388205bc>, line 11)

## 3. Type & Operator - Number

- number: int, float, complex
- 산술 연산자 
 - +, -, *, /

 - %

 - **

 - //

 - +=, -=, *=, /=

 - 위의 연산자 중 모르는 것을 구글 검색하고 예제를 만들어 보자.

In [11]:
# 주문이 들어왔다. 
# 주문1 - 물냉 2, 비냉 1
# 주문2 - 멸치쌈밥 2 

주문1 = 메뉴1_가격 * 2 + 메뉴2_가격
주문2 = 메뉴3_가격 * 2

# 출력
print("주문")
print(f"주문1 - {주문1}원\n주문2 - {주문2}원")

SyntaxError: invalid syntax (<ipython-input-11-520d38ae0489>, line 10)

In [12]:
# int
print(type(10))

# float
print(type(10.0))

# complex
print(type(10 + 10j))

<class 'int'>
<class 'float'>
<class 'complex'>

## 4. Type & Operator - String

- string
- print 활용
- string slicing

In [13]:
# 문자열
# 파이썬은 문자열에 대해 상당한 편의성을 지원합니다.

메뉴1_이름 = '진주물냉면'
메뉴1_가격 = 8000

메뉴2_이름 = "진주비빔냉면"
메뉴2_가격 = 8500

메뉴3_이름, 메뉴3_가격 = '남해멸치쌈밥', 10000

In [14]:
# 특수문자 \n 
# 메뉴판을 만들자

메뉴 = "메뉴\n진주물냉면 8,500원\n진주비빔냉면 8,000원\n남해멸치쌈밥 10,000원"
print(메뉴)

# """, ''' multiline 문자열 생성
메뉴 = """메뉴
진주물냉면 8,500원
진주비빔냉면 8,000원
남해멸치쌈밥 10,000원"""
print(메뉴)

메뉴
진주물냉면 8,500원
진주비빔냉면 8,000원
남해멸치쌈밥 10,000원
메뉴
진주물냉면 8,500원
진주비빔냉면 8,000원
남해멸치쌈밥 10,000원

In [15]:
# 문자열에 변수 출력 #01 - f''
메뉴 = f"""메뉴
{메뉴1_이름} {메뉴1_가격}원
{메뉴2_이름} {메뉴2_가격}원
{메뉴3_이름} {메뉴3_가격}원"""
print(메뉴)

주문1 = 메뉴1_가격 * 2 + 메뉴2_가격
주문2 = 메뉴3_가격 * 2

주문 = f"""주문
주문1 - {주문1:,}원
주문2 - {주문2:,}원"""
print(주문)

SyntaxError: invalid syntax (<ipython-input-15-525401fee8c0>, line 5)

In [16]:
# 문자열에 변수 출력 #02 - format
주문 = "{0} - {1:,}원"

print(주문.format(메뉴1_이름, 메뉴1_가격))
print(주문.format(메뉴2_이름, 메뉴2_가격))

# 문자열에 변수 출력 #03 - %
주문 = "%s - %d원"

print(주문 % (메뉴1_이름, 메뉴1_가격))
print(주문 % (메뉴2_이름, 메뉴2_가격))

진주물냉면 - 8,000원
진주비빔냉면 - 8,500원
진주물냉면 - 8000원
진주비빔냉면 - 8500원

## 5. Container - List

- list 
- add & remove

In [17]:
# 리스트 생성
메뉴1 = ["진주물냉면", 8000]
메뉴2 = ["진주비빔냉면", 8500]
메뉴3 = ["남해멸치쌈밥", 10000]
메뉴4 = ["만두", 5000]

print(type(메뉴1))

<class 'list'>

In [18]:
# 리스트 요소 조회
print(메뉴1[0])
print(메뉴1[1])

진주물냉면
8000

In [19]:
# 2차원 리스트
메뉴목록 = [메뉴1, 메뉴2, 메뉴3 , 메뉴4]
print(메뉴목록)

[['진주물냉면', 8000], ['진주비빔냉면', 8500], ['남해멸치쌈밥', 10000], ['만두', 5000]]

In [20]:
# 2차원 리스트 요소 조회
print(메뉴목록[0], 메뉴목록[1])
print(메뉴목록[0][0], 메뉴목록[0][1])

['진주물냉면', 8000] ['진주비빔냉면', 8500]
진주물냉면 8000

#### list 좀 더 자세히

In [0]:
## 요소 추가하기 

# 주문이 들어왔다. 
# 주문1 - 물냉 2, 비냉 1
# 주문2 - 멸치쌈밥 2 

주문1 = []
주문1.append(메뉴목록[0])
주문1.append(메뉴목록[0])
주문1.append(메뉴목록[1])
ㅗ

주문2 = []
주문2.append(메뉴목록[2])
주문2.append(메뉴목록[2])
print(주문2)


주문2 = []
주문2.append(메뉴목록[2])
주문2.append(메뉴목록[2])
print(주문2)

In [0]:
## 요소 제거하기 
# 만두를 팔지 않기로 했다. 

print(메뉴목록)
del 메뉴목록[3]
print(메뉴메뉴목록

In [0]:
## 요소 변경하기
## 냉면의 가격을 500원씩 올리기로 했다. 

print(메뉴목록)

메뉴목록[0][1] = 8500
print(메뉴목록)

메뉴2[1] = 9000
print(메뉴목록)

In [0]:
## 리스트 복제

임시 = 메뉴2
print(메뉴2, 임시)
임시[1] = 9500
print(메뉴2, 임시)


메뉴2[1] = 9000
임시 = 메뉴2.copy()
print(메뉴2, 임시)
임시[1] = 9500
print(메뉴2, 임시)

## 6. Slicing
- slicing list
- slicing string

In [21]:
# 리스트 생성

numbers = [95, 65, 90, 80, 85, 90, 92, 88, 84, 75, 85, 100]

print('')
print(numbers)
print('---------')

# 리스트의 subset 01
print(numbers[0:3])
print(numbers[3:6])
print(numbers[6:9])
print(numbers[9:12])

# 리스트의 subset 02
print(numbers[:3])

# 리스트의 subset 03
print(numbers[9:])

[95, 65, 90, 80, 85, 90, 92, 88, 84, 75, 85, 100]
---------
[95, 65, 90]
[80, 85, 90]
[92, 88, 84]
[75, 85, 100]
[95, 65, 90]
[75, 85, 100]

In [22]:
# 문자열 생성
python = "hobby project during the week around Christmas as his office was closed"
    
print('')
print(python)
print('---------')

# 문자열 subset 01
print(python[0:5])
print(python[6:13])

# 문자열 subset 02
print(python[:5])

# 문자열 subset 03
print(python[-6:])

hobby project during the week around Christmas as his office was closed
---------
hobby
project
hobby
closed

In [23]:
# split
a = python.split(' ') 
print(a)

['hobby', 'project', 'during', 'the', 'week', 'around', 'Christmas', 'as', 'his', 'office', 'was', 'closed']

### 실습

In [0]:
# 각 리스트의 요소는 이름, 중간점수, 퀴즈점수, 기말점수 입니다. 
stu01 = ["Geoffery Hinton", 95, 65, 90]
stu02 = ["Yann Lecun", 80, 85, 90]
stu03 = ["Yoshua Bengio", 92, 88, 84]
stu04 = ["Andrew Ng", 75, 85, 100]

# 위의 4개의 리스트를 담은 stu 리스트를 생성하세요. 
stu = [stu01, stu02, stu03, stu04]

# 각 학생들의 이름 중 Last Name만 출력하세요.
print(stu01[0][-6:])
print(stu02[0][-5:])
print(stu03[0][-6:])
print(stu04[0][-2:])

# 각 학생들의 학기 합산 점수를 구하세요. 
# 합산점수는 중간점수 40%, 기말점수 40%, 퀴즈점수 20% 로 계산됩니다. 
r1 = stu01[1] * 0.4 + stu01[1] * 0.2 + stu01[1] * 0.4
print(r1)
r2 = stu02[1] * 0.4 + stu02[1] * 0.2 + stu02[1] * 0.4
print(r2)
r3 = stu03[1] * 0.4 + stu03[1] * 0.2 + stu03[1] * 0.4
print(r3)
r4 = stu04[1] * 0.4 + stu04[1] * 0.2 + stu04[1] * 0.4

# stu 리스트에 위에서 구한 합산 점수를 추가 하세요. 
stu01.append(r1)
stu02.append(r2)
stu03.append(r3)
stu04.append(r4)
print(stu)


# 다음의  활용하여 이름과 합산 점수를 출력하세요. 
email = """
Hello, {0}

{0}의 이번학기 성적은 {1}입니다.

수고하셨습니다. 
"""
print(email.format(stu01[0], stu01[-1]))


# 학생들의 midterm, quiz, finals 요소만 slicing 해서 mqf list에 추가하는 구문을 완성하세요.
# 출력: [[95, 65, 90], [80, 85, 90], [92, 88, 84], [75, 85, 100]]
mqf = []
mqf.append(stu01[1:4])
mqf.append(stu02[1:4])
mqf.append(stu03[1:4])
mqf.append(stu04[1:4])

print(mqf)

# 02 파이썬 입문 I

1. Type & Operator - Boolean
2. Control (제어문)
3. Function (함수)
4. Method
5. Package

## 1. Type & Operator - Boolean

- boolean
- 비교 연산자
 - ==, !=, >, <, >=, <=
 - and, or, not
 - is
 - in

In [0]:
# True/False Boolean

t = True
f = False
print(type(t)) # Prints "<class 'bool'>"

# 논리 연산자
print(t and f) # AND 연산, "False"
print(t or f)  # OR 연산, "True"
print(not t)   # NOT 연산, prints "False"

In [0]:
# 여러 연산자 테스트
print(1, 1 == 2)
print(2, 1 != 2)
print(3, 1 < 2)
print(4, 1 > 2)

# is
a = None
print(5, a is None)
print(6, a is not None)
a = 1
print(7, a is 1)
print(8, a is not 1)

# in
print(9, 1 in [1, 2, 3, 4])
print(10, 5 in [1, 2, 3, 4])

## 2. Control (제어문)

- 조건문: if-else
- 반복문: while
- 반복문: for

In [0]:
# 조건문 - if/else
print(주문1, 주문2)

가진돈 = 20000

# 주문액이 가진돈 보다 작으면 '주문할 수 있다.'
# 주문액이 가진돈 보다 크면 '돈이 모자란다.'
if 주문1[0][1] + 주문1[1][1] + 주문1[2][1] < 가진돈:
    print("주문할 수 있다.")
else:
    print("돈이 모자란다.")
    
    
if 주문2[0][1] + 주문2[1][1] <= 가진돈:
    print("주문할 수 있다.")
else:
    print("돈이 모자란다.")

In [0]:
# 반복문 - for
print(주문1, 주문2)

# 주문합계 계산
주문1_합계 = 0
for e in 주문1:
    print(e)
    주문1_합계 += e[1]

주문2_합계 = 0
for e in 주문2:
    print(e)
    주문2_합계 += e[1]
    
print(주문1_합계, 주문2_합계)

In [0]:
# 반복문 - for enumerate
for i, e in enumerate(주문1, 1):
    print(i, e)

In [0]:
# 반복문 - while (종료조건이 있는 반복문)
fruits = ['apple', 'banana', 'cherry']
i = 0 

while i < len(fruits):
    print(fruits[i])
    i += 1

In [0]:
# *****
# *****
# *****
# *****
# *****

for i in range(5):
    for j in range(5):
        print('*', end='')
    print()

In [0]:
# *
# **
# ***
# ****
# *****

for i in range(5):
    for j in range(i + 1):
        print('*', end='')
    print()

In [0]:
#  *****
#   ****
#    ***
#     **
#      *
        
for i in range(5):
    for j in range(i + 1):
        print(' ', end='')

    for j in range(5 - i):
        print('*', end='')
    print()

### 실습

In [0]:
# 위의 코드를 변형하여 다음 모양을 출력해보자
# 1. 
# *****
# ****
# ***
# **
# *

for i in range(5):
    for j in range(5 - i):
        print('*', end='')
    print()


# 2.
#     *
#    **
#   ***
#  ****
# *****
for i in range(5):
    for j in range(5 - i):
        print(' ', end='')
    for j in range(i + 1):
        print('*', end='')
    print()


# 3.
#     *
#    ***
#   *****
#  *******
# *********

for i in range(5):
    for j in range(5 - i):
        print(' ', end='')
    for j in range(2 * i + 1):
        print('*', end='')
    print()


## 3. Function (함수)
- 함수 만들기
- 내장 함수: print, round, max, min, sorted
- 모듈의 함수: os, re 등등

### 함수 생성

In [0]:
# 메뉴목록출력 함수
def 메뉴목록출력(메뉴목록):
    print("메뉴 목록입니다.")
    for i, 메뉴 in enumerate(메뉴목록, 1):
        print(f'{i}. {메뉴[0]} {메뉴[1]:,}원')

메뉴목록출력(메뉴목록)

# 주문목록출력 함수
def 주문목록출력(메뉴목록, 주문내역):
    print("주문 내역입니다.")
    수량 = [0, 0, 0, 0]
    for 주문 in 주문내역:
        if 메뉴목록[0][0] == 주문[0]:
            수량[0] += 1
        if 메뉴목록[1][0] == 주문[0]:
            수량[1] += 1
        if 메뉴목록[2][0] == 주문[0]:
            수량[2] += 1
        if 메뉴목록[3][0] == 주문[0]:
            수량[3] += 1
        
    for i, 메뉴 in enumerate(메뉴목록, 0):
        if 수량[i] > 0:
            print(f'{메뉴[0]} {수량[i]}개')

주문목록출력(메뉴목록, 주문1)
주문목록출력(메뉴목록, 주문2)

### 내장함수
- print, input
- dir, help
- round
- max, min, len, sum
- sorted
- range

In [0]:
# 내장함수 목록 
dir(__builtin__)

In [0]:
# input, print

msg = input()
print(msg)

In [0]:
# round

print(round(10.4607))
print(round(10.5129))
print(round(10.5129, 2))
print(round(10.5029, 3))

In [0]:
numbers = [95, 65, 90, 80, 85, 90, 92, 88, 84, 75, 85, 100]

# min / max
print(max(numbers))
print(min(numbers))

# sum
print(sum(numbers))

# len
print(len(numbers))

# sort
print(sorted(numbers))

In [0]:
# range
print(list(range(10)))
print(list(range(5, 10)))
print(list(range(1, 10, 2)))

### 모듈내의 함수
- os
- random
- math

In [0]:
# os 모듈
import os


# 현재 디렉토리 정보
print(os.getcwd())

# 현재 디렉토리 파일목록
print(os.listdir())

In [0]:
# random
import random

# 0 ~ 1 사이의 랜덤 숫자
print(random.random())

# 0 ~ 10 사이의 랜덤 정수
print(random.randint(0, 10))

# shuffle & sample
호텔델루나배우 = ['아이유', '여진구', '피오', '미나', '김준현']
random.shuffle(호텔델루나배우)
print(호텔델루나배우)
print(random.sample(호텔델루나배우, 2))

In [0]:
import random

# seed 
random.seed(100)

# 0 ~ 1 사이의 랜덤 숫자
print(random.random())

# 0 ~ 10 사이의 랜덤 정수
print(random.randint(0, 10))

# shuffle & sample
호텔델루나배우 = ['아이유', '여진구', '피오', '미나', '김준현']
random.shuffle(호텔델루나배우)
print(호텔델루나배우)
print(random.sample(호텔델루나배우, 2))

In [0]:
# math
import math

# 파이, 자연로그 값
print(math.pi)
print(math.e)

# 제곱근, 로그
print(math.sqrt(4))
print(math.log(4))

# sin, cos
print(math.sin(math.pi / 2))
print(math.cos(math.pi))

### 실습

In [0]:
# 1. 두 개의 정수 값을 받아 평균을 구하는 함수를 작성하세요.
def get_average(x, y):
    return x + y / 2

# 2. 리스트를 입력받아서 최소값과 최대값을 반환하는 함수를 작성하세요.
def get_min(ls):
    selected = None
    for e in ls:
        if selected is None or e < selected:
            selected = e
            
    return selected

def get_max(ls):
    selected = None
    for e in ls:
        if selected is None or e > selected:
            selected = e
            
    return selected

# 3. 시작과 끝 숫자를 받아 시작부터 끝까지의 모든 정수값의 합을 반환하는 함수를 작성하세요. (시작값과 끝값 포함)
def get_sum(start, end):
    합 = 0
    for i in range(start, end + 1):
        합 += i
    return 합

print(get_average(3, 5))
print(get_min([1, 2, 3, 4, 5]))
print(get_max([1, 2, 3, 4, 5]))
print(get_sum(3, 5))

    
# 각 리스트의 요소는 name, midterm, quiz, finals입니다. 
stu = [["Geoffery Hinton", 95, 65, 90],
       ["Yann Lecun", 80, 85, 90],
       ["Yoshua Bengio", 92, 88, 84],
       ["Andrew Ng", 75, 85, 100]]

# 학점 규칙: 중간고사 35%, 기말고사 35%, 퀴즈 30%
# total을 계산하는 함수를 생성하시오. 
def total(midterm, quiz, finals):
    return midterm * 0.35 + quiz * 0.3 + finals * 0.35


# 점수에 해당하는 grade를 반환하는 함수를 만드세요. 
# 90이상 A, 80이상 B, 70 이상 C, 나머지는 F
def grade(score):
    if score >= 90:
        return 'A'
    elif score >= 80:
        return 'B'
    elif score >= 70:
        return 'C'
    else:
        return 'F'
    

# for문을 이용하여 stu 모든 학생들의 total 결과를 totals 변수에 list를 사용하여 차례로 담으세요. 
totals = []
for s in stu:
    totals.append(total(s[1], s[2], s[3]))
    
print(totals)

## 4. Method

- list의 methods
- string의 methods
- 'dir': object의 methods 확인

In [0]:
numbers = [95, 65, 90, 80, 85, 90, 92, 88, 84, 75, 85, 100]
print(numbers)
dir(numbers)

In [0]:
# 값의 위치 찾기
print(numbers.index(65))
print(numbers.index(80))

In [0]:
# 값 지우기
print(numbers)
numbers.remove(65)
print(numbers)

In [0]:
# 정렬하기
print(numbers)
numbers.sort()
print(numbers)
numbers.sort(reverse=True)
print(numbers)

In [0]:
# 비우기
print(numbers)
numbers.clear()
print(numbers)

In [0]:
hello = "hello, guido van Rossum "
print(hello)
dir(hello)

In [0]:
# 대소문자 조정
print(hello.capitalize())
print(hello.upper())
print(hello.lower())

In [0]:
# 문자열 변경
print(hello.replace('hello', 'goodbye'))

### 실습

In [0]:
# 1. string object의 strip 메쏘드가 무엇인지 알아보고 사용해보자.
a =  "    guido van Rossum     "
print(a.strip())

# 2. string object의 split 메쏘드가 무엇인지 알아보고 알아보고 사용해보자.
a = "월,화,수,목,금,토,일"
b = a.split(",")
print(b)

# 3. string object의 join 메쏘드가 무엇인지 알아보고 알아보고 사용해보자.
print('/'.join(b))

# 4. list object의 insert 메쏘드가 무엇인지 알아보고 사용해보자. append와 어떤 차이가 있는지 설명해보자.
ls = [1, 2, 3, 4, 5]
ls.insert(3, 10)
print(ls)

# 5. list object의 pop 메쏘드가 무엇인지 알아보고 사용해보자.
print(ls.pop())
print(ls)

numbers = [95, 65, 90, 80, 85, 90, 92, 88, 84, 75, 85, 100]
# 6. numbers의 요소가 몇개인지 구하시오.
print(len(numbers))

# 7. numbers를 역순으로 정렬하시오
print(sorted(numbers, reverse=True))

## 5. Package

- install package
- import package

In [0]:
# jupyter notebook에서 '!'로 시작하는 코드를 실행하면 terminal shell의 command를 실행한다.

'''
!pip install package
!pip3 install package
'''
!pip3 install requests

#### request package 맛보기

In [0]:
import requests

# HTTP GET Request
req = requests.get('http://info.cern.ch/')

print(req.text)

####  beautiful soup package 맛보기

In [0]:
from bs4 import BeautifulSoup

soup = BeautifulSoup(req.text, 'html.parser')

print(soup.head)
print('-------------------------')
print(soup.body)

## 6. File

파일 모드 종류
* r - 읽기모드 (디폴트)
* w - 쓰기모드, 파일이 있으면 모든 내용을 삭제
* x - 쓰기모드, 파일이 있으면 오류 발생
* a - 쓰기모드, 파일이 있으면 뒤에 내용을 추가
* t - 텍스트 모드, 텍스트 문자 기록에 사용 (디폴트)
* b - 바이너리 모드, 바이트단위 데이터 기록에 사용

In [0]:
# write

f = open('./new_file.txt', 'w')
f.write('파일에 기록될 문자열입니다.\n')
f.write('파일 기록하는거 참 쉽죠?!\n')
f.close()

f = open('./new_file.txt', 'a')
f.writelines(['하나', '둘', '셋', '넷', '다섯']) #리스트를 전달
f.write('\n')
f.writelines('\n'.join(['여섯', '일곱', '여덟', '아홉', '열']))
f.close()

In [0]:
# read 

f = open('./new_file.txt', 'r')
text = f.read()
print(text)
f.close()

### directory & file list

In [0]:
import os

path = './'
files = os.listdir(path)

for file_name in files:
    print(file_name)

## 몽당식당
1. 메뉴를 출력한다. 
2. 메뉴를 선택한다. 
3. 더 주문할지 물어본다.
 - 주문할 것이 더 있다면 1번부터 다시 반복한다.
 - 주문할 것이 없으면 4로 이동한다.
4. 총 주문내역과 합계 금액을 출력한다.

In [0]:
#@title
print("어서오세요. 몽당식당입니다. ")

# 메뉴 리스트 생성
메뉴1 = ["진주물냉면", 8000]
메뉴2 = ["진주비빔냉면", 8500]
메뉴3 = ["남해멸치쌈밥", 10000]
메뉴4 = ["만두", 5000]
메뉴목록 = [메뉴1, 메뉴2, 메뉴3, 메뉴4]

주문목록 = []

def 메뉴목록출력(메뉴목록):
    print("메뉴 목록입니다.")
    for i, 메뉴 in enumerate(메뉴목록, 1):
        print(f'{i}. {메뉴[0]} {메뉴[1]:,}원')
    

def 주문목록출력(메뉴목록, 주문내역):
    print("주문 내역입니다.")
    수량 = [0, 0, 0, 0]
    for 주문 in 주문내역:
        if 메뉴목록[0][0] == 주문[0]:
            수량[0] += 1
        if 메뉴목록[1][0] == 주문[0]:
            수량[1] += 1
        if 메뉴목록[2][0] == 주문[0]:
            수량[2] += 1
        if 메뉴목록[3][0] == 주문[0]:
            수량[3] += 1
        
    for i, 메뉴 in enumerate(메뉴목록, 0):
        if 수량[i] > 0:
            print(f'{메뉴[0]} {수량[i]}개')

more = 'Y'
while more != 'N':
    메뉴목록출력(메뉴목록)

    no = input("---- 무엇을 주문하시겠습니까? (1~4)")
    주문목록.append(메뉴[int(no) - 1])

    주문목록출력(메뉴목록, 주문목록)
    more = input("---- 더 주문하시겠습니까? (Y/N)")
    print()

    
print("=" * 100)
print("감사합니다.")

# 주문목록과 합게를 출력하자.
주문목록출력(메뉴목록, 주문목록)
합계 = 0
for 주문 in 주문목록:
    합계 += 주문[1]
print(f"결제하실 금액은 {합계:,}원 입니다.")

### 과제
- 로또 번호 생성기를 만들어보자
 - 1 ~ 46까지의 수 중 6개의 숫자를 뽑는다.
 - 숫자는 중복될 수 없다.
- 가위바위보 게임을 만들어보자 
 - 컴퓨터와 가위바위보를 한다.
 - 승부는 3판 2선 승!

In [0]:
import random

print('lotto 자동 번호 생성기')
print('-'*100)

lotto = []
while len(lotto) < 6:
    n = random.randint(1, 46)
    if n not in lotto:
        lotto.append(n)
print(lotto)

In [0]:
import random

rcp = ['가위', '바위', '보']
win, lose, draw = 0, 0, 0

print('승부의 세계는 비정한 법. 덤벼라.')

while win < 2 and lose < 2:
    yours = None
    while yours not in rcp:
        if yours is not None:
            print('제대로 해,')
        yours = input('"가위 바위 보"중 하나를 내라.\n')
        
    com = random.choice(rcp)
    
    if yours == com:
        print('비겼어! 다시 승부다.')
        draw += 1
    elif yours + com in ['가위보', '바위가위', '보바위'] :
        print('네가 이겼네?')
        win += 1
    else :
        print('너 졌음ㅋ')
        lose += 1
        
    print(f'''
    당신의 선택 : {yours}
    컴퓨터의 선택 : {com}
    승 : {win}, 패 : {lose}, 무승부 : {draw}
    ''')
    
if win == 2: 
    print('축하해! 네가 이겼어!')
else:
    print('너 졌음ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ')