In [1]:
print("안녕하세요. 이틀간 교육을 맡게된 이숙번입니다.")

안녕하세요. 이틀간 교육을 맡게된 이숙번입니다.

## 데이터 구조
1. 리스트 (list)
2. 딕셔너리 (dictionary)
3. 셋 (set)
4. 튜플 (tuple)

In [2]:
# list CRUD
배열1 = [1, 2, 3, 4, 5]
배열2 = list(range(5))

print(1, 배열1)
print(2, 배열2)

# 엘리먼트 조회
print(3, 배열1[0])
print(4, 배열2[-1])

# 수정
배열1[0] = -1
print(5, 배열1)

# 삭제 2가지 방법
del 배열1[0]
print(6, 배열1)

배열1.remove(4)
print(7, 배열1)

1 [1, 2, 3, 4, 5]
2 [0, 1, 2, 3, 4]
3 1
4 4
5 [-1, 2, 3, 4, 5]
6 [2, 3, 4, 5]
7 [2, 3, 5]

In [3]:
# 메쏘드 및 함수 조회
dir(배열1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [4]:
배열1.sort(reverse=True)

print(배열1)

[5, 3, 2]

In [5]:
dir(__builtin__)

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EnvironmentError',
 'Exception',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'WindowsError',
 'ZeroDivisionError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abs',
 'all',
 'any',
 'ascii',
 'bin',
 'bool',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'enumerate',
 'eval',
 'exec',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

In [6]:
# dictionary CRUD
메뉴1 = {
    "메뉴명": "남해멸치쌈밥",
    "가격": 10000
}
메뉴2 = {
    "메뉴명": "진주물냉면",
    "가격": 8500
}
메뉴3 = dict(
    메뉴명="남해멸치쌈밥",
    가격=8500
)

메뉴 = [메뉴1, 메뉴2, 메뉴3]

import pprint
pprint.pprint(메뉴)

# 조회
print(메뉴1['가격'], 메뉴1['메뉴명'])
print(메뉴1.get('1인분가능'))

# 수정
메뉴1['가격'] = 11000
print(메뉴1)

# 삭제
del 메뉴1['메뉴명']
print(메뉴1)

[{'가격': 10000, '메뉴명': '남해멸치쌈밥'},
 {'가격': 8500, '메뉴명': '진주물냉면'},
 {'가격': 8500, '메뉴명': '남해멸치쌈밥'}]
10000 남해멸치쌈밥
None
{'메뉴명': '남해멸치쌈밥', '가격': 11000}
{'가격': 11000}

In [7]:
dir(메뉴1)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [8]:
# slicing
numbers = list(range(100))
print(numbers)

print(numbers[10:20])
print(numbers[:10])
print(numbers[90:])
print(numbers[-10:])
print(numbers[:-10])
print(numbers[:])
print(numbers[::-1])

# 문자열에서 동일하게 사용가능
string = 'hello world'
print(string[:5])
print(string[-5:][::-1])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
[90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
[99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
hello
dlrow

In [9]:
# list comprehension

numbers = list(range(100))

numbers = [n ** 2 for n in numbers if n % 2 == 0]
print(numbers)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444, 1600, 1764, 1936, 2116, 2304, 2500, 2704, 2916, 3136, 3364, 3600, 3844, 4096, 4356, 4624, 4900, 5184, 5476, 5776, 6084, 6400, 6724, 7056, 7396, 7744, 8100, 8464, 8836, 9216, 9604]

In [10]:
# dictionary CRUD
메뉴1 = {
    "메뉴명": "남해멸치쌈밥",
    "가격": 10000
}
메뉴2 = {
    "메뉴명": "진주물냉면",
    "가격": 8500
}
메뉴3 = dict(
    메뉴명="남해멸치쌈밥",
    가격=8500
)
메뉴 = [메뉴1, 메뉴2, 메뉴3]

import pprint
pprint.pprint(메뉴)

메뉴 = [list(m.values()) for m in 메뉴]
pprint.pprint(메뉴)

[{'가격': 10000, '메뉴명': '남해멸치쌈밥'},
 {'가격': 8500, '메뉴명': '진주물냉면'},
 {'가격': 8500, '메뉴명': '남해멸치쌈밥'}]
[['남해멸치쌈밥', 10000], ['진주물냉면', 8500], ['남해멸치쌈밥', 8500]]

In [11]:
m1 = ['진주물냉면', 8500]
keys = ['메뉴명', '가격']

for k, m in zip(keys, m1):
    print(k, m)
    
m1 = {k: m for k, m in zip(keys, m1)}
print(m1)

# tip
m2 = ['진주비빔냉면', 8500]
m2 = dict(zip(keys, m2))
print(m2)

메뉴명 진주물냉면
가격 8500
{'메뉴명': '진주물냉면', '가격': 8500}
{'메뉴명': '진주비빔냉면', '가격': 8500}

In [12]:
# tuple 

t1 = (1, 2, 3)
print(t1)
t2 = 1, 2, 3
print(t2)

a1, b1, c1 = 1, 2, 3
print(a1, b1, c1)

def tt():
    a = 1
    b = 2
    return a, b

a1, b1 = tt()
print(a1, b1)

(1, 2, 3)
(1, 2, 3)
1 2 3
1 2

In [13]:
numbers = list(range(3))
for i, n in enumerate(numbers[::-1]):
    print(i, n)
    
pprint.pprint(list(enumerate(numbers[::-1])))

메뉴1 = {
    "메뉴명": "남해멸치쌈밥",
    "가격": 10000
}

for k, v in 메뉴1.items():
    print(k, v)
    
pprint.pprint(list(메뉴1.items()))

0 2
1 1
2 0
[(0, 2), (1, 1), (2, 0)]
메뉴명 남해멸치쌈밥
가격 10000
[('메뉴명', '남해멸치쌈밥'), ('가격', 10000)]

In [14]:
a = 'hel\'lo'
b = "wor\"ld"
c = """
hello
world
"""
print(c)

메뉴1 = {
    "메뉴명": "남해멸치쌈밥",
    "가격": 10000
}

print(f"메뉴: {메뉴1['메뉴명']}, 가격: {메뉴1['가격']:,}")

print("메뉴:{0}, 가격:{1:,}, {1}, {1}, ".format(메뉴1['메뉴명'], 메뉴1['가격']))

print("메뉴 %s, 가격 %d" % (메뉴1['메뉴명'], 메뉴1['가격']))

SyntaxError: invalid syntax (<ipython-input-14-fb5764ee9e6f>, line 14)

In [15]:
dir(a)

NameError: name 'a' is not defined

In [16]:
요일 = "월, 화, 수, 목, 금, 토, 일"
요일리스트 = 요일.split(',')
요일리스트 = [e.strip() for e in 요일리스트]
print(요일리스트)

# 요일리스트.join('/') 
'/'.join(요일리스트)

['월', '화', '수', '목', '금', '토', '일']

'월/화/수/목/금/토/일'

In [17]:
메뉴1 = {
    "메뉴명1": "남해멸치쌈밥",
    "가격1": 10000,
    "메뉴명2": "남해멸치쌈밥",
    "가격2": 10000,
    "메뉴명3": "남해멸치쌈밥",
    "가격3": 10000
}

import pprint
pprint.pprint(메뉴1)

from pprint import pprint, pformat
pprint(메뉴1)

{'가격1': 10000,
 '가격2': 10000,
 '가격3': 10000,
 '메뉴명1': '남해멸치쌈밥',
 '메뉴명2': '남해멸치쌈밥',
 '메뉴명3': '남해멸치쌈밥'}
{'가격1': 10000,
 '가격2': 10000,
 '가격3': 10000,
 '메뉴명1': '남해멸치쌈밥',
 '메뉴명2': '남해멸치쌈밥',
 '메뉴명3': '남해멸치쌈밥'}

In [18]:
del sum
numbers = [1, 2, 3, 4]
print(sum(numbers))

sum = 0
for n in numbers:
    sum += n
    
print(sum)

del sum
numbers = [1, 2, 3, 4]
sum(numbers)

NameError: name 'sum' is not defined

In [19]:
class Point:
    def __init__(self, x, y):
        self.x = x
        self.y = y
        self._protected_x = x
        self.__private_x = x
        
    def __str__(self):
        return f"x: {self.x}, y: {self.y}"
        
    def show(self):
        print(f"x: {self.x}, y: {self.y}")
        
    def setX(self, x):
        self.x = x
    
    def setY(self, y):
        self.y = y
        
    def move(self, x, y):
        self.x += x
        self.y += y
        
    def show2():
        print("11111")

p1 = Point(10, 20)
p1.show()
p1.move(5, 5)
p1.show()

print(p1)

#################
Point.show(p1)
Point.move(p1, 5, 5)
p1.show()

Point.show2()
# dir(p1)

SyntaxError: invalid syntax (<ipython-input-19-d89e9c28294a>, line 9)

In [20]:
dir(p1)

NameError: name 'p1' is not defined

In [21]:
def func1(*arg):
    print(arg[0])
    print(arg)
    
func1(1, 2, 3, 4)
func1(3, 5, 7)
func1(3, 5, 7, 6,35,3,345,3)

def func2(**kwarg):
    print(kwarg)

func2(a=1, b=2, c=3, d=4)
func2(a=1, c=3, k=4)

1
(1, 2, 3, 4)
3
(3, 5, 7)
3
(3, 5, 7, 6, 35, 3, 345, 3)
{'c': 3, 'b': 2, 'a': 1, 'd': 4}
{'k': 4, 'c': 3, 'a': 1}

In [22]:
numbers = [1, 2, 3, 4]

a, b, c, d = numbers
print(a, b, c, d)

a, *etc = numbers
print(a, etc)

new = [0, 5, 4, 5, *numbers]
print(new)

1 2 3 4
1 [2, 3, 4]
[0, 5, 4, 5, 1, 2, 3, 4]

In [23]:
dict1 = {
    "a": 1,
    "b": 2
}

new_dict = {
    "c": 3,
    **dict1
}

print(new_dict)

def func3(b, a, c):
    print(a, b, c)

func3(**new_dict)
func3(a=1, c=3, b=2)
func3(3, 2, 1)
func3(*list1)

# list1 = [2, 3, 1]
# func3(*list1)

{'c': 3, 'b': 2, 'a': 1}
1 2 3
1 2 3
2 3 1

NameError: name 'list1' is not defined

In [24]:
numbers = [1, 2, 3, 4, 5]

numbers = [n * 2 for n in numbers]
print(numbers)

list(map(lambda x: x * 2, numbers))

list2 = [['a', 3], ['b', 2], ['c', 5]]
print(sorted(list2, key=lambda x: x[1]))

list_dict = [
    {'a': 1, 'b': 3, 'c': 2},
    {'a': 3, 'b': 3, 'c': 2},
    {'a': 6, 'b': 3, 'c': 2},
    {'a': 7, 'b': 3, 'c': 2}
]
print(sorted(list_dict, key=lambda x: x['a']))

[2, 4, 6, 8, 10]
[['b', 2], ['a', 3], ['c', 5]]
[{'c': 2, 'b': 3, 'a': 1}, {'c': 2, 'b': 3, 'a': 3}, {'c': 2, 'b': 3, 'a': 6}, {'c': 2, 'b': 3, 'a': 7}]

- Word Counter
 - noble.txt을 읽어들인다.
 - 모든 단어를 list로 만든다.
 - 각각의 단어가 몇 번씩 사용되었는지 dict로 구성한다. 
   - 예) 'hello world i love this world'
   - 완성: {'world': 2, 'hello': 1, 'you': 1, 'i': 1, 'love': 1, 'this': 1}
 - 가장 많이 사용된 단어 10개를 출력한다.

In [25]:
# noble.txt를 다운로드
!wget https://raw.githubusercontent.com/wonhyukc/python/master/noble.txt
!ls

'wget'은(는) 내부 또는 외부 명령, 실행할 수 있는 프로그램, 또는
배치 파일이 아닙니다.
'ls'은(는) 내부 또는 외부 명령, 실행할 수 있는 프로그램, 또는
배치 파일이 아닙니다.

In [26]:
f = open("./noble.txt", "r")
txt = f.read()
print(len(txt))
print(txt[:100])

txt = txt.replace(',', '')
txt = txt.replace('.', '')
txt = txt.replace('\n', '')

FileNotFoundError: [Errno 2] No such file or directory: './noble.txt'

In [0]:
print(1 in [1, 2, 3, 4])
print(5 in [1, 2, 3, 4])

dict_words = {}

의미없는단어들 = ['and', 'to', 'of', 'by', 'the', 'a']

# 공백문자(' ')를 가지고 텍스트를 분리한다. (단어별 분리) => words 에 저장
words = txt.split(' ')
words = [w.lower().strip() for w in words 
         if w.lower().strip() not in 의미없는단어들]

# words를 가지고 loop을 돌면서 단어 하나씩 가져온다. => words로 for loop
for w in words:
    # 해당 단어가 dict_words에 들어있으면, 값에 1을 더하고
    if w in dict_words:
        dict_words[w] += 1
    # 해당 단어가 dict_words에 없는 단어는, 키를 추가하고 값을 1로 셋팅한다
    else:
        dict_words[w] = 1
        
sorted_list = sorted(dict_words.items(), key=lambda x: x[1], reverse=True)
pprint.pprint(sorted_list[:10])

True
False
[('her', 1787),
 ('in', 1643),
 ('was', 1592),
 ('i', 1589),
 ('she', 1393),
 ('that', 1258),
 ('not', 1255),
 ('it', 1230),
 ('he', 1124),
 ('you', 1078)]

## Pandas

In [27]:
import pandas as pd
import numpy as np
import tensorflow as tf

In [28]:
dict1 = {
    "col1": [1, 2, 3, 4],
    "col2": ['a', 'b', 'c', 'd'],
    "col3": [True, False, True, False]
}

df1 = pd.DataFrame(dict1)
df1

   col1 col2   col3
0     1    a   True
1     2    b  False
2     3    c   True
3     4    d  False

In [29]:
df1.shape

(4, 3)

In [30]:
df1.to_csv('./file.csv', index=False, header=False)
!ls

'ls'은(는) 내부 또는 외부 명령, 실행할 수 있는 프로그램, 또는
배치 파일이 아닙니다.

In [31]:
# file url: https://raw.githubusercontent.com/blackdew/dplus-tensorflow/master/csv/Graduate_apply.csv
df = pd.read_csv('https://raw.githubusercontent.com/blackdew/dplus-tensorflow/master/csv/Graduate_apply.csv')
df.head()

   admit  gre   gpa  rank
0      0  380  3.61     3
1      1  660  3.67     3
2      1  800  4.00     1
3      1  640  3.19     4
4      0  520  2.93     4

In [32]:
df.tail(3)

     admit  gre   gpa  rank
397      0  460  2.63     2
398      0  700  3.65     2
399      0  600  3.89     3

In [33]:
df.columns

Index(['admit', 'gre', 'gpa', 'rank'], dtype='object')

In [34]:
df.dtypes

admit      int64
gre        int64
gpa      float64
rank       int64
dtype: object

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 4 columns):
admit    400 non-null int64
gre      400 non-null int64
gpa      400 non-null float64
rank     400 non-null int64
dtypes: float64(1), int64(3)
memory usage: 12.6 KB

In [36]:
subset = df['admit']
subset.head()
subset.shape

(400,)

In [37]:
subset = df[['admit']]
subset.head()
subset.shape

(400, 1)

In [38]:
subset = df[df.columns[-2:]]
subset.head()

    gpa  rank
0  3.61     3
1  3.67     3
2  4.00     1
3  3.19     4
4  2.93     4

In [39]:
df.loc[0]

admit      0.00
gre      380.00
gpa        3.61
rank       3.00
Name: 0, dtype: float64

In [40]:
df.loc[[0, 10, 20, 30]]

    admit  gre   gpa  rank
0       0  380  3.61     3
10      0  800  4.00     4
20      0  500  3.17     3
30      0  540  3.78     4

In [41]:
df.iloc[0]

admit      0.00
gre      380.00
gpa        3.61
rank       3.00
Name: 0, dtype: float64

In [42]:
df.iloc[[0, 10, 20, 30]]

    admit  gre   gpa  rank
0       0  380  3.61     3
10      0  800  4.00     4
20      0  500  3.17     3
30      0  540  3.78     4

In [43]:
df.iloc[0:10]

   admit  gre   gpa  rank
0      0  380  3.61     3
1      1  660  3.67     3
2      1  800  4.00     1
3      1  640  3.19     4
4      0  520  2.93     4
5      1  760  3.00     2
6      1  560  2.98     1
7      0  400  3.08     2
8      1  540  3.39     3
9      0  700  3.92     2

In [44]:
df.loc[0:10]

    admit  gre   gpa  rank
0       0  380  3.61     3
1       1  660  3.67     3
2       1  800  4.00     1
3       1  640  3.19     4
4       0  520  2.93     4
5       1  760  3.00     2
6       1  560  2.98     1
7       0  400  3.08     2
8       1  540  3.39     3
9       0  700  3.92     2
10      0  800  4.00     4

In [45]:
df.loc[[0, 1, 2], ['admit', 'gre']]

   admit  gre
0      0  380
1      1  660
2      1  800

In [46]:
df.iloc[[0, 1, 2], [0, 1]]

   admit  gre
0      0  380
1      1  660
2      1  800

In [47]:
sorted_df = df.sort_values(by=['gre'])
sorted_df.head()

     admit  gre   gpa  rank
304      0  220  2.83     3
179      0  300  3.01     3
71       0  300  2.92     4
315      1  300  2.84     2
316      1  340  3.00     2

In [48]:
sorted_df.iloc[0:5]

     admit  gre   gpa  rank
304      0  220  2.83     3
179      0  300  3.01     3
71       0  300  2.92     4
315      1  300  2.84     2
316      1  340  3.00     2

In [49]:
sorted_df.loc[[0, 1, 2, 3, 4, 5]]

   admit  gre   gpa  rank
0      0  380  3.61     3
1      1  660  3.67     3
2      1  800  4.00     1
3      1  640  3.19     4
4      0  520  2.93     4
5      1  760  3.00     2

In [50]:
filtered_df = df[df['rank'] == 3]
filtered_df.head()

    admit  gre   gpa  rank
0       0  380  3.61     3
1       1  660  3.67     3
8       1  540  3.39     3
15      0  480  3.44     3
17      0  360  2.56     3

In [51]:
filtered_df = df[df['rank'].isin([2, 3])]
filtered_df.head()

   admit  gre   gpa  rank
0      0  380  3.61     3
1      1  660  3.67     3
5      1  760  3.00     2
7      0  400  3.08     2
8      1  540  3.39     3

In [52]:
# one-hot encoding
# dummy variables

dummies = pd.get_dummies(df['rank'])
dummies.head()

   1  2  3  4
0  0  0  1  0
1  0  0  1  0
2  1  0  0  0
3  0  0  0  1
4  0  0  0  1

In [53]:
# drop
df = df.drop(['rank'], axis=1)

In [54]:
df_processed = pd.concat([df, dummies], axis=1)
df_processed.head()

   admit  gre   gpa  1  2  3  4
0      0  380  3.61  0  0  1  0
1      1  660  3.67  0  0  1  0
2      1  800  4.00  1  0  0  0
3      1  640  3.19  0  0  0  1
4      0  520  2.93  0  0  0  1

In [55]:
# normalize - minmax normalize

mins = df_processed.min(axis=0)
print(mins)

admit      0.00
gre      220.00
gpa        2.26
1          0.00
2          0.00
3          0.00
4          0.00
dtype: float64

In [56]:
maxs = df_processed.max(axis=0)
print(maxs)

admit      1.0
gre      800.0
gpa        4.0
1          1.0
2          1.0
3          1.0
4          1.0
dtype: float64

In [57]:
df_02 = (df_processed - mins) / (maxs - mins)
df_02.head()

   admit       gre       gpa    1    2    3    4
0    0.0  0.275862  0.775862  0.0  0.0  1.0  0.0
1    1.0  0.758621  0.810345  0.0  0.0  1.0  0.0
2    1.0  1.000000  1.000000  1.0  0.0  0.0  0.0
3    1.0  0.724138  0.534483  0.0  0.0  0.0  1.0
4    0.0  0.517241  0.385057  0.0  0.0  0.0  1.0

In [58]:
# train, test
train, test = df_02[:300], df_02[300:]

In [59]:
train_y = train[train.columns[:1]]
train_x = train[train.columns[1:]]

In [60]:
print(train_x.shape, train_y.shape)

(300, 6) (300, 1)

In [61]:
test_y = test[test.columns[:1]]
test_x = test[test.columns[1:]]

In [62]:
import tensorflow as tf
# from tensorflow.keras import models
# models.Sequential() 

model = tf.keras.models.Sequential()
model.add(tf.keras.layers.Dense(1, 
                                input_shape=(6, ), 
                                activation="sigmoid"))
model.compile(optimizer="adam", 
              loss="binary_crossentropy", 
              metrics=['accuracy'])

In [0]:
model.fit(train_x, train_y, epochs=100)

Epoch 1/100
300/300 [==============================] - 0s 66us/sample - loss: 0.6126 - acc: 0.6800
Epoch 2/100
300/300 [==============================] - 0s 50us/sample - loss: 0.6123 - acc: 0.6800
Epoch 3/100
300/300 [==============================] - 0s 45us/sample - loss: 0.6119 - acc: 0.6800
Epoch 4/100
300/300 [==============================] - 0s 43us/sample - loss: 0.6115 - acc: 0.6800
Epoch 5/100
300/300 [==============================] - 0s 40us/sample - loss: 0.6111 - acc: 0.6800
Epoch 6/100
300/300 [==============================] - 0s 41us/sample - loss: 0.6106 - acc: 0.6767
Epoch 7/100
300/300 [==============================] - 0s 43us/sample - loss: 0.6104 - acc: 0.6767
Epoch 8/100
300/300 [==============================] - 0s 42us/sample - loss: 0.6100 - acc: 0.6733
Epoch 9/100
300/300 [==============================] - 0s 44us/sample - loss: 0.6096 - acc: 0.6733
Epoch 10/100
300/300 [==============================] - 0s 42us/sample - loss: 0.6092 - acc: 0.6733
Epoch 11/100
300/300 [==============================] - 0s 43us/sample - loss: 0.6089 - acc: 0.6733
Epoch 12/100
300/300 [==============================] - 0s 42us/sample - loss: 0.6085 - acc: 0.6733
Epoch 13/100
300/300 [==============================] - 0s 44us/sample - loss: 0.6081 - acc: 0.6700
Epoch 14/100
300/300 [==============================] - 0s 43us/sample - loss: 0.6078 - acc: 0.6667
Epoch 15/100
300/300 [==============================] - 0s 45us/sample - loss: 0.6075 - acc: 0.6667
Epoch 16/100
300/300 [==============================] - 0s 49us/sample - loss: 0.6071 - acc: 0.6667
Epoch 17/100
300/300 [==============================] - 0s 45us/sample - loss: 0.6068 - acc: 0.6667
Epoch 18/100
300/300 [==============================] - 0s 46us/sample - loss: 0.6064 - acc: 0.6667
Epoch 19/100
300/300 [==============================] - 0s 39us/sample - loss: 0.6061 - acc: 0.6667
Epoch 20/100
300/300 [==============================] - 0s 37us/sample - loss: 0.6058 - acc: 0.6667
Epoch 21/100
300/300 [==============================] - 0s 41us/sample - loss: 0.6055 - acc: 0.6667
Epoch 22/100
300/300 [==============================] - 0s 39us/sample - loss: 0.6052 - acc: 0.6667
Epoch 23/100
300/300 [==============================] - 0s 40us/sample - loss: 0.6049 - acc: 0.6667
Epoch 24/100
300/300 [==============================] - 0s 38us/sample - loss: 0.6046 - acc: 0.6667
Epoch 25/100
300/300 [==============================] - 0s 41us/sample - loss: 0.6043 - acc: 0.6667
Epoch 26/100
300/300 [==============================] - 0s 38us/sample - loss: 0.6040 - acc: 0.6667
Epoch 27/100
300/300 [==============================] - 0s 39us/sample - loss: 0.6037 - acc: 0.6667
Epoch 28/100
300/300 [==============================] - 0s 40us/sample - loss: 0.6034 - acc: 0.6667
Epoch 29/100
300/300 [==============================] - 0s 44us/sample - loss: 0.6031 - acc: 0.6667
Epoch 30/100
300/300 [==============================] - 0s 56us/sample - loss: 0.6028 - acc: 0.6667
Epoch 31/100
300/300 [==============================] - 0s 52us/sample - loss: 0.6025 - acc: 0.6667
Epoch 32/100
300/300 [==============================] - 0s 38us/sample - loss: 0.6023 - acc: 0.6667
Epoch 33/100
300/300 [==============================] - 0s 38us/sample - loss: 0.6020 - acc: 0.6667
Epoch 34/100
300/300 [==============================] - 0s 38us/sample - loss: 0.6016 - acc: 0.6667
Epoch 35/100
300/300 [==============================] - 0s 38us/sample - loss: 0.6014 - acc: 0.6633
Epoch 36/100
300/300 [==============================] - 0s 44us/sample - loss: 0.6011 - acc: 0.6633
Epoch 37/100
300/300 [==============================] - 0s 38us/sample - loss: 0.6008 - acc: 0.6667
Epoch 38/100
300/300 [==============================] - 0s 39us/sample - loss: 0.6006 - acc: 0.6667
Epoch 39/100
300/300 [==============================] - 0s 40us/sample - loss: 0.6004 - acc: 0.6667
Epoch 40/100
300/300 [==============================] - 0s 39us/sample - loss: 0.6001 - acc: 0.6667
Epoch 41/100
300/300 [==============================] - 0s 42us/sample - loss: 0.5999 - acc: 0.6667
Epoch 42/100
300/300 [==============================] - 0s 41us/sample - loss: 0.5997 - acc: 0.6667
Epoch 43/100
300/300 [==============================] - 0s 49us/sample - loss: 0.5993 - acc: 0.6700
Epoch 44/100
300/300 [==============================] - 0s 48us/sample - loss: 0.5991 - acc: 0.6667
Epoch 45/100
300/300 [==============================] - 0s 48us/sample - loss: 0.5989 - acc: 0.6633
Epoch 46/100
300/300 [==============================] - 0s 35us/sample - loss: 0.5986 - acc: 0.6633
Epoch 47/100
300/300 [==============================] - 0s 43us/sample - loss: 0.5985 - acc: 0.6633
Epoch 48/100
300/300 [==============================] - 0s 42us/sample - loss: 0.5982 - acc: 0.6633
Epoch 49/100
300/300 [==============================] - 0s 40us/sample - loss: 0.5979 - acc: 0.6700
Epoch 50/100
300/300 [==============================] - 0s 42us/sample - loss: 0.5977 - acc: 0.6700
Epoch 51/100
300/300 [==============================] - 0s 42us/sample - loss: 0.5975 - acc: 0.6700
Epoch 52/100
300/300 [==============================] - 0s 38us/sample - loss: 0.5973 - acc: 0.6733
Epoch 53/100
300/300 [==============================] - 0s 42us/sample - loss: 0.5970 - acc: 0.6733
Epoch 54/100
300/300 [==============================] - 0s 45us/sample - loss: 0.5968 - acc: 0.6733
Epoch 55/100
300/300 [==============================] - 0s 36us/sample - loss: 0.5967 - acc: 0.6733
Epoch 56/100
300/300 [==============================] - 0s 42us/sample - loss: 0.5964 - acc: 0.6733
Epoch 57/100
300/300 [==============================] - 0s 42us/sample - loss: 0.5962 - acc: 0.6733
Epoch 58/100
300/300 [==============================] - 0s 42us/sample - loss: 0.5960 - acc: 0.6733
Epoch 59/100
300/300 [==============================] - 0s 45us/sample - loss: 0.5958 - acc: 0.6733
Epoch 60/100
300/300 [==============================] - 0s 43us/sample - loss: 0.5956 - acc: 0.6767
Epoch 61/100
300/300 [==============================] - 0s 42us/sample - loss: 0.5954 - acc: 0.6733
Epoch 62/100
300/300 [==============================] - 0s 43us/sample - loss: 0.5952 - acc: 0.6733
Epoch 63/100
300/300 [==============================] - 0s 46us/sample - loss: 0.5950 - acc: 0.6733
Epoch 64/100
300/300 [==============================] - 0s 40us/sample - loss: 0.5948 - acc: 0.6767
Epoch 65/100
300/300 [==============================] - 0s 38us/sample - loss: 0.5946 - acc: 0.6800
Epoch 66/100
300/300 [==============================] - 0s 40us/sample - loss: 0.5944 - acc: 0.6867
Epoch 67/100
300/300 [==============================] - 0s 40us/sample - loss: 0.5942 - acc: 0.6867
Epoch 68/100
300/300 [==============================] - 0s 50us/sample - loss: 0.5940 - acc: 0.6833
Epoch 69/100
300/300 [==============================] - 0s 38us/sample - loss: 0.5938 - acc: 0.6833
Epoch 70/100
300/300 [==============================] - 0s 43us/sample - loss: 0.5937 - acc: 0.6833
Epoch 71/100
300/300 [==============================] - 0s 40us/sample - loss: 0.5935 - acc: 0.6833
Epoch 72/100
300/300 [==============================] - 0s 42us/sample - loss: 0.5933 - acc: 0.6833
Epoch 73/100
300/300 [==============================] - 0s 41us/sample - loss: 0.5931 - acc: 0.6900
Epoch 74/100
300/300 [==============================] - 0s 38us/sample - loss: 0.5929 - acc: 0.6900
Epoch 75/100
300/300 [==============================] - 0s 43us/sample - loss: 0.5927 - acc: 0.6900
Epoch 76/100
300/300 [==============================] - 0s 42us/sample - loss: 0.5926 - acc: 0.6900
Epoch 77/100
300/300 [==============================] - 0s 38us/sample - loss: 0.5923 - acc: 0.6900
Epoch 78/100
300/300 [==============================] - 0s 43us/sample - loss: 0.5921 - acc: 0.6933
Epoch 79/100
300/300 [==============================] - 0s 50us/sample - loss: 0.5919 - acc: 0.6933
Epoch 80/100
300/300 [==============================] - 0s 38us/sample - loss: 0.5918 - acc: 0.6933
Epoch 81/100
300/300 [==============================] - 0s 38us/sample - loss: 0.5916 - acc: 0.6933
Epoch 82/100
300/300 [==============================] - 0s 47us/sample - loss: 0.5914 - acc: 0.6967
Epoch 83/100
300/300 [==============================] - 0s 41us/sample - loss: 0.5913 - acc: 0.6967
Epoch 84/100
300/300 [==============================] - 0s 38us/sample - loss: 0.5911 - acc: 0.6967
Epoch 85/100
300/300 [==============================] - 0s 36us/sample - loss: 0.5910 - acc: 0.6967
Epoch 86/100
300/300 [==============================] - 0s 38us/sample - loss: 0.5908 - acc: 0.7000
Epoch 87/100
300/300 [==============================] - 0s 41us/sample - loss: 0.5907 - acc: 0.7000
Epoch 88/100
300/300 [==============================] - 0s 38us/sample - loss: 0.5905 - acc: 0.7000
Epoch 89/100
300/300 [==============================] - 0s 55us/sample - loss: 0.5903 - acc: 0.7033
Epoch 90/100
300/300 [==============================] - 0s 39us/sample - loss: 0.5902 - acc: 0.7033
Epoch 91/100
300/300 [==============================] - 0s 44us/sample - loss: 0.5900 - acc: 0.7033
Epoch 92/100
300/300 [==============================] - 0s 57us/sample - loss: 0.5898 - acc: 0.7033
Epoch 93/100
300/300 [==============================] - 0s 39us/sample - loss: 0.5897 - acc: 0.7033
Epoch 94/100
300/300 [==============================] - 0s 44us/sample - loss: 0.5896 - acc: 0.7033
Epoch 95/100
300/300 [==============================] - 0s 39us/sample - loss: 0.5894 - acc: 0.7033
Epoch 96/100
300/300 [==============================] - 0s 43us/sample - loss: 0.5892 - acc: 0.7033
Epoch 97/100
300/300 [==============================] - 0s 38us/sample - loss: 0.5891 - acc: 0.7067
Epoch 98/100
300/300 [==============================] - 0s 38us/sample - loss: 0.5890 - acc: 0.7067
Epoch 99/100
300/300 [==============================] - 0s 37us/sample - loss: 0.5888 - acc: 0.7067
Epoch 100/100
300/300 [==============================] - 0s 38us/sample - loss: 0.5886 - acc: 0.7067

In [63]:
model.get_weights()

[array([[-0.80145115],
        [-0.88652945],
        [-0.6161928 ],
        [ 0.15451932],
        [ 0.12798882],
        [-0.5895453 ]], dtype=float32), array([0.], dtype=float32)]