# bit.ly/2l8K2bp

파일 -> .ipynb 다운로드 -> 구글드라이브에 업로드하여 사용

# 사후 실습 평가 I

## 코드는 이 곳에 작성합니다.
## 답은 구글 닥스에 적습니다.

# 데이터 로딩

In [1]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_diabetes

In [2]:
db = load_diabetes()

논의를 쉽게 하기 위하여 다음과 같이 의미를 바꾸어 이해하기로 한다.

## Y는 당뇨병 진행율이라고 하자. 기본단위가 %이다.

사실 Y는, 인풋이 측정된 1년뒤의 당뇨병 진행상황에 대한 측정값이라고만 한다.

In [3]:
print(db.DESCR)

.. _diabetes_dataset:

Diabetes dataset
----------------

Ten baseline variables, age, sex, body mass index, average blood
pressure, and six blood serum measurements were obtained for each of n =
442 diabetes patients, as well as the response of interest, a
quantitative measure of disease progression one year after baseline.

**Data Set Characteristics:**

  :Number of Instances: 442

  :Number of Attributes: First 10 columns are numeric predictive values

  :Target: Column 11 is a quantitative measure of disease progression one year after baseline

  :Attribute Information:
      - Age
      - Sex
      - Body mass index
      - Average blood pressure
      - S1
      - S2
      - S3
      - S4
      - S5
      - S6

Note: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).

Source URL:
http://www4.stat.ncsu.edu/~boos/var.select/diabetes.html

For more information see:
Bradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.
(http://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)

In [4]:
####### 원본 데이터를 찾아서 가져왔음
####### 원본 데이터를 찾아서 가져왔음
temp = pd.read_csv('https://web.stanford.edu/~hastie/Papers/LARS/diabetes.data',sep = '\t')
temp.head()

   AGE  SEX   BMI     BP   S1     S2    S3   S4      S5  S6    Y
0   59    2  32.1  101.0  157   93.2  38.0  4.0  4.8598  87  151
1   48    1  21.6   87.0  183  103.2  70.0  3.0  3.8918  69   75
2   72    2  30.5   93.0  156   93.6  41.0  4.0  4.6728  85  141
3   24    1  25.3   84.0  198  131.4  40.0  5.0  4.8903  89  206
4   50    1  23.0  101.0  192  125.4  52.0  4.0  4.2905  80  135

In [5]:
temp['SEX'] = temp['SEX']-1

In [6]:
temp.head()

   AGE  SEX   BMI     BP   S1     S2    S3   S4      S5  S6    Y
0   59    1  32.1  101.0  157   93.2  38.0  4.0  4.8598  87  151
1   48    0  21.6   87.0  183  103.2  70.0  3.0  3.8918  69   75
2   72    1  30.5   93.0  156   93.6  41.0  4.0  4.6728  85  141
3   24    0  25.3   84.0  198  131.4  40.0  5.0  4.8903  89  206
4   50    0  23.0  101.0  192  125.4  52.0  4.0  4.2905  80  135

In [7]:
x = temp.drop(['Y'], axis = 1)
y = temp[['Y']]

In [8]:
x.shape, y.shape

((442, 10), (442, 1))

# Q1. 12번째 row의   S2컬럼의 값은 무엇인가?

# Q2. min-max scailing 후, 12번째 row의 s2컬럼의 값은 무엇인가?

**조건**
1. S1~ S6 만 스케일링 할 것
1. 소수점 세자리까지, 그 미만 절삭.
2. 0번째 row부터 있습니다.

# Linear Regression 모델링을 한 후 다음 질문들에 답하여라.

**조건**
1. train/valid/test 분리하지 않는다.
2. 모든 데이터를 이용한 예측값을 **y_pred**에 담는다.

# Q3. y_pred의 마지막 값은 무엇인가?
**조건**
1. 소수점 두번째 자리까지, 그 미만 절삭

# Q4. y와 y_pred를 이용하여 RMSE를 구하라.

**조건**
1. 소수점 두번째 자리 까지, 그 미만 절삭

# 다음은 선형회귀모델에 대한 해석이다.
# 답에 % 표시는 하지 않도록 한다.

* e+00은 e+00을 무시하면 된다.
* e+01은 곱하기 10을 하여 생각하면 된다.
* e-02는 100을 나누어 생각하면 된다.

In [0]:
x.head()

# Q5. 기본 진행율은 몇% 인가

**조건**
1. **음수라면 -도 적을것**
1. **소수점 절삭**
2. 그 숫자가 타당한지는 생각하지 않는다.

# Q6. 혈압은 당뇨진행율에 어떤 영향을 주는가?

# Q7. BMI가 1늘어나면 당뇨 진행율은 몇퍼센트 늘어나는가?

**소수점 절삭**

# Q8. S1은 당뇨진행율에 어떤 영향을 주는가?

# Q9. S2가 0.1 커지면 당뇨 진행율은 몇퍼센트 커지는가?

**계산후 소수점 절삭하여 표기**

**소수점 절삭하여 계산하면 안됨**

# Q10. 나이가 30살 늘어나면 당뇨 진행율은 몇 % 변화가 생기는가?

**계산 후 소수점 절삭**

**소수점 절삭 후 계산하면 안됨**

**숫자만 적을 것**

**+,- 부호 표시 하지 말 것**