# 급여 데이터로 Pandas 기초 연습하기 Exercise

SF Salaries Dataset from Kaggle (https://www.kaggle.com/kaggle/sf-salaries)

import package

In [0]:
import pandas as pd
import io # colab에서 데이터 read를 위해

Read Salaries.csv as a dataframe called sal.

In [2]:
# sal = pd.read_csv('/Users/jayden.yoo/Downloads/Salaries.csv') 
# google colaboratory가 아닌 다른 python 프로그램이라면, 바로 read_csv

from google.colab import files
uploaded = files.upload() # 파일 업로드 기능 실행

for fn in uploaded.keys(): # 업로드된 파일 정보 출력
    print('User uploaded file "{name}" with length {length} bytes'.format(
        name=fn, length=len(uploaded[fn])))

Saving Salaries.csv to Salaries.csv
User uploaded file "Salaries.csv" with length 16257213 bytes

In [3]:
sal = pd.read_csv(io.StringIO(uploaded['Salaries.csv'].decode('utf-8')))

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

DataFrame 의 앞부분 확인하여, 데이터 생긴 거 미리보기

In [4]:
sal.head(2)

   Id    EmployeeName  ...         Agency Status
0   1  NATHANIEL FORD  ...  San Francisco    NaN
1   2    GARY JIMENEZ  ...  San Francisco    NaN

[2 rows x 13 columns]

몇 개의 컬럼과 행이 있는지 확인해보기

In [9]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148049 non-null object
OvertimePay         148654 non-null object
OtherPay            148654 non-null object
Benefits            112495 non-null object
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              38119 non-null object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

기본급('Base Pay')의 평균은 얼마인가?

In [10]:
round(sal['BasePay'].mean(), 1)

TypeError: ignored

가장 높은 초과근무수당(OvertimePay)을 받은 사람을 얼마를 받았는가?

In [8]:
sal['OvertimePay'].max()

TypeError: ignored

직원이름('EmployeeName')이 'JOSEPH DRISCOLL' 인 사람의 직책('job title')은 무엇인가?

Note: Use all caps, otherwise you may get an answer that doesn't match up   
(there is also a lowercase Joseph Driscoll).

In [11]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

'JOSEPH DRISCOLL' 이 상여금('benefits')을 포함하여 총 받은 급여('TotalPayBenefits')는 얼마인가?

In [12]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

상여금('benefits')을 포함하여 가장 많은 급여를 받은 사람은 누구인가?

In [0]:
sal[sal['TotalPayBenefits']== sal['TotalPayBenefits'].max()]['EmployeeName']
# or
# sal.loc[sal['TotalPayBenefits'].idxmax()]

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

상여금('benefits')을 포함하여 가장 적은 급여를 받은 사람은 누구인가?

그 또는 그녀가 얼마나 받았는지에 대해 이상한 점을 알아챘는가?

In [0]:
sal[sal['TotalPayBenefits']== sal['TotalPayBenefits'].min()] #['EmployeeName']
# or
# sal.loc[sal['TotalPayBenefits'].idxmax()]['EmployeeName']

## ITS NEGATIVE!! VERY STRANGE

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

연도('Year')별로 전체 직원들의 기본급 평균은 얼마씩인가?

In [0]:
sal.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

회사에는 직무('JobTitle')가 몇 개 있는가(unique)?

In [0]:
sal['JobTitle'].nunique()
# len(sal['JobTitle'].unique())

2159

가장 흔한 직무('JobTitle') 상위 5개는 무엇인가?

In [0]:
sal['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

2013년도에 유일하게 직무자가 1명이었던 직무('JobTitle')는 몇 개인가?

In [13]:
sum(sal[sal['Year']==2013]['JobTitle'].value_counts() == 1)
# (sal[sal['Year']==2013]['JobTitle'].value_counts() == 1).value_counts()

202

직무('JobTitle')에 'Chief'가 들어가는 사람은 몇 명인가?

In [14]:
sal['JobTitle'].head(10)

0    GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1                   CAPTAIN III (POLICE DEPARTMENT)
2                   CAPTAIN III (POLICE DEPARTMENT)
3              WIRE ROPE CABLE MAINTENANCE MECHANIC
4      DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
5                         ASSISTANT DEPUTY CHIEF II
6                BATTALION CHIEF, (FIRE DEPARTMENT)
7                    DEPUTY DIRECTOR OF INVESTMENTS
8                BATTALION CHIEF, (FIRE DEPARTMENT)
9            CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)
Name: JobTitle, dtype: object

In [0]:
def chief_string(title):
    if 'chief' in title.lower():
        return True
    else:
        return False

In [0]:
sum(sal['JobTitle'].apply(lambda x: chief_string(x)))

627

**Bonus**

직무명('JobTitle')의 길이(length)와 급여(Salary)와 상관관계가 있는가?

In [15]:
sal['JobTitle'].apply(len).head(3)

0    46
1    31
2    31
Name: JobTitle, dtype: int64

In [0]:
sal['title_len'] = sal['JobTitle'].apply(len)

In [19]:
sal[['title_len','TotalPayBenefits']].head(3)

   title_len  TotalPayBenefits
0         46         567595.43
1         31         538909.28
2         31         335279.91

In [20]:
sal[['title_len','TotalPayBenefits']].corr() # No correlation.

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000